.mainFeatured{
    /* display: flex;
    flex-direction: column; */
}


.featured {
    max-height: 75vh;
    height: 37vw;
    width: 100%;
    border-bottom: 1px solid #202020;
}

.featured-options {
    border-radius: 5px;
    margin: 0 0rem 15rem 2rem;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.featured-options h1{
    font-weight: 700;
    font-size: 1.5rem;
}

.option {
    opacity: 0.5;
    border-radius: 5px;
    height: 100%;
    transition: all ease 0.2s;
}

.featured-options p {
    margin-bottom: 0px;
    margin-top: 1rem;
    font-weight: 500;
}

.featured-options h1 + p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.option:hover {
    opacity: 1;
}

.selected {
    opacity: 0.9;
}

.featured--vertical {
    height: 100%;
    background: linear-gradient(to right, #111 0%, transparent 100%);
    transition: all ease 0.2s;
}

.featured--horizontal {
    height: inherit;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* padding-left: 3rem;
    padding-top: 8rem; */
    padding-left: 4%;
}

.featured--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured--name {
    font-size: 2rem;
    font-weight: bold;
}

.featured--info {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.featured--points,
.featured--year,
.featured--seasons {
    display: inline-block;
    margin-right: 1rem;
}

.featured--points {
    color: #46d369;
}

.featured--description {
    margin-top: 1rem;
    font-size: 1rem;
    color: rgb(170, 170, 170);
    max-width: 40%;
}

.featured--buttons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.featured--watchbutton, 
.featured--mylistbutton {
    width: 8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 1rem;
    opacity: 1;
    transition: all ease 0.1s;
}

.featured--watchbutton img,
.featured--mylistbutton img {
    width: 1rem;
    margin-right: 1rem;
}


.featured--watchbutton:hover, 
.featured--mylistbutton:hover {
    opacity: 0.9;
}

.featured--watchbutton {
    background-color: #55EAEA;
    color: #000;
}

.featured--mylistbutton {
    background-color: #FFF;
    color: #000;
}


.featured--mylistbutton:hover {
    color: #000000;
}

.featured--watchbutton:hover {
    color: #000;
}

.featured--genres {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #999;
}

@media (max-width: 760px) {
    .featured--name {
        font-size: 2.5rem;
    }

    .featured--info {
        font-size: 1rem;
    }

    .featured--description {
        font-size: 1rem;
        max-width: 100%;
        margin-right: 1.5rem;
    }

    .featured--watchbutton,
    .featured--mylistbutton {
        font-size: 1rem;
    }

    .featured--genres {
        font-size: 1rem;
    }

    .featured--horizontal .featured--container {
        margin-top: 100px;
    }
}

@media (max-width: 1180px) {
    .mainFeatured {
        flex-direction: column;
    }

    .featured {
        max-width: 100%;
        max-height: calc(max-width / 2);
        width: 100%;
        height: auto;
    }

    .featured--container {
        margin: 30px 20px;
    }

    .featured-options {
        display: none;
    }
}

.contentContainer {
    margin: 30px auto 30px auto;
    max-width: 92%;
}

.navAnime {
    display: flex;
    justify-content: center;
}

.navAnime a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px 30px 20px;
}

.navAnime a:hover {
    text-decoration: underline;
}

#select {
    text-decoration: underline;
}