.movieRow--item {
    display: inline-block;
    width: 165px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    height: 247px;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieRow--item img:hover {
    transform: scale(1);
}