.header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    /* padding: 0 30px; */
    background: transparent;
    transition: all ease 0.5s;
    justify-content: center;
    border-bottom: 1px solid #313030;
}

.headerContainer {
    max-width: 92vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.black {
    background-color: #050505;
}

.header--logo {
    /* position: absolute;
    top: 20%; */
}

.header--logo a {
    display: flex;
    height: 25px;
    align-items: center;
}

.header--logo img {
    height: 200%;
}

.header--user {
    height: 35px;
}

.header--user img {
    height: 100%;
}

.header--info{
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    /* margin-left: 68%;
    top: 20%; */
    display: flex;
    
}

.buttonsHeader {
    display: flex;
    margin-right: 2rem;
}

.buttonsHeader button{
    align-items: center;
    display: flex;
    margin-right: 2rem;
    border: none;
    background: none;
    color: #fff;
    font-weight: 600;
}

.buttonsHeader img {
    margin-right: 0.5rem;
}

.favHeader{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
    width: 16px;
    height: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: solid 1.5px #fff;
    top: 56px;
    right: 0;
    border-radius: 5px;
    background-color: #0f0f0f;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -9px;
    right: 7px;
    border-style: solid;
    border-width: 0 10px 8px 10px;
    border-color: transparent transparent #fff transparent;
}


.dropdown-content a {
    text-decoration: none;
}

.dropdown-content a, .dropdown-content h6 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 12px 16px;
    border-bottom: 1px solid #313030;
    color: #fff;
}

.dropdown-content a:last-child, .dropdown-content h6:last-child {
    border-bottom: 0;
}
  
.dropdown-content a:hover {
    background-color: #050505;
    border-radius: 5px;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* # Busca */
#txtBusca{
    background-color: transparent;
    padding-left:5px;
    border:none;
    color: #fff;
    -webkit-autofill: transparent !important;
}

#txtBusca:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 20px black inset;
    -webkit-text-fill-color: #fff;
}
 
#btnBusca{
    float: left;
    cursor: pointer;
}

#divBusca img{
    padding: 5px;
    margin-right: 0;
}

#divBusca {
    border: solid 1px #fff;
    border-radius: 5px;
    height: 100%;
    display: flex;
}