.lists {
  margin-bottom: 4rem;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 92vw;
  margin: 0 auto;
  /* height: 90vh; */
  max-height: 90vh;
  height: 100%;
  margin-top: 3rem;
}