* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

body, html {
  background-color: #090909;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
  width: 100%;
  color: #FFF;
}

a:hover {
  color: rgb(255, 255, 255);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  z-index: 999 !important;
  background-color: rgba(0, 0, 0, .9) !important;
  overflow: auto;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.ReactModal__Content {
  position: relative !important;
  max-width: 70vw !important;
  margin: 0 auto !important;
  background: #141414 !important;
  border: 1px solid #191717 !important;
  padding: 0 !important;
}